/* Main background colour is light blue */
* {
  background-color: #4294f8;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navigation bar is fixed and is positioned at the left */
.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 160px;
  background-color: #4294f8;

}

.nav-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
}

.nav-menu a {
  display: block;
  line-height:2em;
  padding:5px 10px;
}

.nav-link {
  color: #fff;
  font-family: 'Pixeboy', sans-serif;
  src: url('http://fonts.cdnfonts.com/css/pixeboy');
  text-align: center;
}

.image {
  display: inline-block;
  background-color: #fff;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.section {
  border: 3px solid #000;
  border-radius: 0px;
}

.container-2 {
  max-width: 1035px;
  background-color: #fff;
  outline-color: red;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 3px;
}

.body {
  background-color: #000;
  margin: 0px;
  margin-top: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #4294f8;
  outline-color: #333;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 7px;
}

.div-block {
  height: 100px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 150px;
  border: 3px solid #4294f8;
  background-color: #fff;
}

.div-block .text-block{
  padding-top: 25px;
}

/* Columns */
.onecolumn {
  float: left;
  width: 100%;
  padding: 0px;
  height: 580px;
  padding-bottom: 0px;
  border-style: solid;
  border-width: 3px;
  border-color: #4294f8;
  background-color: #fff;
}

.onecolumn .text-block {
  padding-top: 145px;
}

.tricolumn {
  float: left;
  width: 32.8%;
  padding: 0px;
  height: 580px;
  padding-bottom: 0px;
  border-style: solid;
  border-width: 3px;
  border-color: #4294f8;
  background-color: #fff;
}

.tricolumn_task {
  float: left;
  width: 32.8%;
  padding: 0px;
  padding-top: 40px;
  padding-bottom: 0px;
  background-color: #fff;
}

.tricolumn .text-block {
  padding-top: 145px;
}

.column {
  padding-bottom: 0px;
  padding-left: 0px;
  border-style: solid;
  border-width: 3px;
  border-color: #4294f8;
  background-color: #fff;

}

/* Big text */
.text-block {
  text-align: center;
  font-family: 'NEXT ART', sans-serif;
  background-color: #fff;
  color: #025493;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0px;
}

/* Not so big text */
.text-block-div {
  text-align: center;
  font-family: 'NEXT ART', sans-serif;
  background-color: #fff;
  color: #025493;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 0px;
}

/* Classic HTML elements */
h1 {
  text-align: center;
  font-family: 'Glacial Indifference', sans-serif;
  background-color: #fff;
  color: #025493;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 0px;
}

h2 {
  text-align: center;
  font-family: 'Glacial Indifference', sans-serif;
  background-color: #fff;
  color: #025493;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0px;
}

h3 {
  text-align: center;
  font-family: 'Glacial Indifference', sans-serif;
  background-color: #fff;
  color: #025493;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0px;
}

p {
  text-align: center;
  font-family: 'Glacial Indifference', sans-serif;
  background-color: #fff;
}

.columns {
  padding-left: 150px;
  background-color: #fff;
}

/* Custom containers */
.studbud_container {
  background-color: #fff;
  text-align: center;
}

.stopwatch_container {
  background-color: #ffffff;
  width: 40%;
  min-width: 400px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  padding: auto;
  top: 400px;
  padding-left: 160px;
  padding-bottom: 50px;
  border-radius: 10px;
}

/* Jana, S. (2022, April 26). Create a simple stopwatch using JavaScript (tutorial + code). Foolish Developer. Retrieved June 3, 2022, from https://www.foolishdeveloper.com/2021/10/simple-stopwatch-using-javascript.html */
/* Stopwatch */
.timerDisplay{
    position: relative;
    width: 92%;
    background: #ffffff;
    left: 4%;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
    font-family: 'Pixeboy', sans-serif;
    color: #025493;
    font-size: 60px;
}

/* Custom buttons/icons */
.studbud_button {
    
    display: inline-block;
    border: 2px solid #025493;
    border-radius: 5px;
    background-color: #fff;
    font-family: 'Pixeboy', sans-serif;
    src: url('http://fonts.cdnfonts.com/css/pixeboy');
    color: #025493;
    font-size: 24px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding: 16px 32px;
  }

.studbud_group_pic {
    display: block;
    text-align: center;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
  }

.studbud_group_pic_tiny {
    display: block;
    text-align: center;
    width: 50%;
    margin-left: 40px;
    margin-right: auto;
    float: left;
    list-style: none;
    padding: 0;
  }

/* Stopwatch elements */
.stopwatch_buttons{
    background-color: #ffffff;
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 16px 32px;
}
.stopwatch_buttons button{
    width: 120px;
    height: 45px;
    background-color: #205e94;
    color: #ffffff;
    border: none;
    font-family: 'Pixeboy',sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
/* Karthik. (2022, April 25). Creating a Kanban Board with HTML, CSS &amp; JavaScript. Karthik Dev Articles. Retrieved June 3, 2022, from https://karthikdevarticles.com/creating-a-kanban-board-with-html-css-and-javascript */
/* Task manager elements */
.kanban-container {
  background-color: #ffffff;
  width: 100%;
  min-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.kanban-heading {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
}

.kanban-board {
  background-color: #ffffff;
  display: flex;
  margin-left: 160px;
  margin-right: 10px;
  flex-direction: row;
  justify-content: space-between;
  font-family: sans-serif;
}

.kanban-block strong{
  text-align: center;
  font-family: 'Glacial Indifference', sans-serif;
  background-color: #fff;
  color: #025493;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0px;
}

.kanban-block,
.create-new-task-block {
  background-color: #ffffff;
  padding: 0.6rem;
  width: 30.5%;
  min-width: 14rem;
  min-height: 4.5rem;
  border-radius: 0.3rem;
}

.task {
  background-color: #ffffff;
  margin: 0.2rem 0rem 0.3rem 0rem;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  padding: 0.5rem 0.2rem 0.5rem 2rem;
}

.task-button-block{
  background-color: #ebebeb;
}

.task span{
  text-align: center;
  font-family: 'Glacial Indifference', sans-serif;
  background-color: #fff;
  color: #025493;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0px;
}

.task-h3{
  text-align: center;
  font-family: 'Glacial Indifference', sans-serif;
  background-color: #025493;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.create-new-task-block {
  background-color: #ffffff;
  display: none;
  font-family: 'Glacial Indifference', sans-serif;
  /* display: flex; */
  background: #025493;
  width: 64.4%;
  flex-direction: column;
}

.create-new-task-block strong {
  background-color: #025493;
  font-family: 'Glacial Indifference', sans-serif;
  color: #fff
}

.form-row {
  background-color: #025493;
  font-family: 'Glacial Indifference', sans-serif;
  display: flex;
  flex-direction: row;
  margin: 0.2rem;
}

.form-row-label {
  background-color: #ffffff;
  font-family: 'Glacial Indifference', sans-serif;
  width: 15%;
  padding: 0.2rem;
  padding-right: 0.5rem;
  border: 0.1rem solid black;
  border-right: 0;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
}

.form-row-input {
  background-color: #ffffff;
  font-family: 'Glacial Indifference', sans-serif;
  border: 0.1rem solid black;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
  width: 85%;
}

textarea {
  background-color: #ffffff;
  font-family: 'Glacial Indifference', sans-serif;
  resize: none;
}

.form-row-buttons {
  background-color:  #025493;
  font-family: 'Glacial Indifference', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.2rem;
}

.redirect {
  background-color: #fff
}

/* Yelne, P. (2022, January 3). Build a dictionary app in HTML CSS &amp; JavaScript. Codegyan. Retrieved June 3, 2022, from https://codegyan.in/articles/build-a-dictionary-app-in-html-css-javascript.htm */
/* Dictionary elements */
.dictionary_container {
    background-color: #ffffff;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    margin-left: 80px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.search-box {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-box input {
    color: #fff;
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #025493;
    font-size: 16px;
}

.search-box button {
    padding: 15px 0;
    width: 25%;
    background-color: #025493;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
}

.result {
    position: relative;
    background-color: #fff;
}
.result h3 {
    font-size: 30px;
    color: #025493;
    background-color: #fff;
}
.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    background-color: #fff;
}
.result button {
    background-color: #fff;
    color: #025493;
    border: none;
    outline: none;
    font-size: 18px;
}
.result .details {
    background-color: #fff;
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.word-meaning {
    background-color: #fff;
    color: #333;
}
.word-example {
    background-color: #fff;
    color: #333;
    font-style: italic;
    border-left: 5px solid #025493;
    padding-left: 20px;
    margin-top: 30px;
}

.error {
    background-color: #fff;
    margin-top: 80px;
    text-align: center;
}

#inp-word {
  font-family: 'Glacial Indifference', sans-serif;
  color: #000;
  background-color: #ffffff;
}

#edit-button,
#save-button,
#cancel-button {
  font-family: 'Glacial Indifference', sans-serif;
  margin: 0.2rem 0rem 0.1rem 0rem;
  background-color: white;
  border-radius: 0.2rem;
  width: 49.2%;
  border: 0.25rem solid black;
  padding: 0.5rem 2.7rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}

#edit-button {
  font-family: 'Glacial Indifference', sans-serif;
  background-color: #ffffff;
  display: none;
}

#todo {
  background-color: #ebebeb;
}

#todo strong {
  background-color: #ebebeb;
}

#inprogress {
  background-color: #D0D9E8;
  /* display: none; */
}

#inprogress strong {
  background-color: #D0D9E8;
  /* display: none; */
}

#done {
  background-color: #B9CCEA;
  /* display: none; */
}

#done strong{
  background-color: #B9CCEA;
  /* display: none; */
}


#task-button {
  margin: 0.2rem 0rem 0.1rem 0rem;
  background-color: #025493;
  border-radius: 0.2rem;
  width: 100%;
  border: 0.1rem solid black;
  padding: 0.5rem 2.7rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}

#wrapper
{
 text-align:center;
 margin:0 auto;
 width:995px;
}
#player
{
 background-color:#025493;
 width:400px;
 margin:auto;
 margin-top: 600px;
 padding:5px;
 box-sizing:border-box;
}
input[type="image"]
{
 float:left;
 height:20px;
 margin-left:2px;
 margin-right:5px;
 margin-top:2px;
 background-color:#025493;
}
#vol_img
{
 margin-left:150px;
 width:20px;
 background-color:#025493;
}

/* Collier, J. (2021, May 6). Comparing Javascript &amp; jQuery through building a pomodoro timer. DevelopIntelligence. Retrieved June 3, 2022, from https://www.developintelligence.com/blog/2016/10/comparing-javascript-jquery-build-a-pomodoro-timer/ */
/* Pomodoro */
#pomodoro_app{
  background-color:#ffffff;
}

#pomodoro_container{
  background-color:#ffffff;
  border:1px solid #333;
  border-radius :20px;
  width:400px;
  margin:20px auto;
  padding:20px;
  text-align:center;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  
}

#pomodoro_timer{ 
  background-color:#ffffff;
  color:#f00; 
  font-size:50px; 
  margin:10px auto;
  border : 5px solid red;
  border-radius:50%;
  width:200px;
  height:200px;
  overflow:hidden;
  position:relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
  
}

#time{
  margin-top:70px;
  margin: auto;
  width: 25%;
  padding-left: 20px;
  z-index : 1;
  position:relative;
  background-color:#ffffff;
  font-family: 'Pixeboy', sans-serif;
  color: #025493;
  font-size: 60px;
}

#filler{
  height: 0px;
  width: 200px;
  position:absolute;
  bottom:0;
  background-color:#ffffff;
}

#pomodoro_buttons button { 
  width: 120px;
    height: 45px;
    background-color: #205e94;
    color: #ffffff;
    border: none;
    font-family: 'Pixeboy',sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-left: 150px;
   -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@font-face {
    font-family: 'NEXT ART', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'NEXT ART', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

 @font-face {
    font-family: 'Glacial Indifference', sans-serif;
    src: url('http://fonts.cdnfonts.com/css/glacial-indifference-2?styles=54222,54221');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

@media screen and (max-width: 600px) {
  .tricolumn {
    width: 100%;
  }

  .tricolumn_task {
    width: 100%;
    transform: translate(-100px);
  }

  .kanban-heading .text-block-div{
    transform: translate(80px);
  }

  .kanban-container h3{
    transform: translate(80px);
    min-width: 100px;
  }

  .div-block .text-block {
  padding-top: 0;
  }

  .stopwatch_container {
    width: 40%;
    min-width: 200px;
    padding-left: 100px;
    transform: translate(-40%,-40%);
  }

  .timerDisplay{
    box-shadow: none;
    font-family: 'Pixeboy', sans-serif;
    color: #025493;
    font-size: 48px;
    min-width: 160px;
    transform: translate(-20px);
}
  
.stopwatch_buttons{
  padding-left: 50px;
}

.stopwatch_container h3 {
  padding-left: 30px;
}

.dictionary_container {
  box-shadow: none;
  max-width: 300px;
}

.create-new-task-block {
  transform: translate(-300px);
}

.create-new-task-block .form-row-label{
  min-width: 80px;
}

#pauseTimer {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  padding: 10px 20px;
}

#startTimer {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px; 
  padding: 10px 20px;
}

#resetTimer {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px; 
  padding: 10px 20px;
}

#time {
  min-width: 320px;
}

#pomodoro_buttons button:first-child { 
    margin-left: 88px;
}

#pomodoro_buttons button:not(:first-child) { 
  margin-left: 120px;
}

#work {
  margin-top: 10px;
  margin-bottom: 10px;
}

#shortBreak {
  margin-top: 10px;
  margin-bottom: 10px; 
}

#longBreak {
  margin-top: 10px;
  margin-bottom: 10px;
}

#stop {
  margin-top: 10px;
  margin-bottom: 10px;
}

  #wrapper
  {
   margin-left:-150px;
   margin-top: 1800px;
  }

}

