/* Stylesheet for homepage (index.html) only! */
/* Navigation bar */
.navbar {
    z-index: 1;
    text-align: center;
    background-color: #4294f8;
    font-family: 'Pixeboy', sans-serif;
    src: url('http://fonts.cdnfonts.com/css/pixeboy');
    top: 0; /* Position at page's top */
    position: fixed; /* Should not move */
    width: 100%; /* Full width */
  }
  
  /* Small text */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-link {
    color: #fff;
  }
  
  /* Logo */
  .brand {
    background-image: url('https://i.ibb.co/dWhx07P/studbud-transparent.png');
    background-position: -5px -10px;
    background-size: 40px;
    background-repeat: no-repeat;
  }
  
  /* Top, middle and bottom section of page */
  .div-block-top {
    height: 900px;
    margin-bottom: 0px;
    background-color: #fff;

    /* Background */
    /* Presta, H. (2019, August 16). Tips for achieving school/work balance. UMKC Roo News. Retrieved June 3, 2022, from https://info.umkc.edu/unews/tips-for-achieving-school-work-balance/ */
    background-image: url('https://i.ibb.co/8bjg2fq/Studying.png');
    background-position: 0px 0px;
    background-size: cover;
    background-attachment: scroll;
    opacity: 1;
    color: #fff;
  }
  
  /* Middle section has a different background colour to contrast with the other two */
  .div-block-middle {
    height: 900px;
    margin-bottom: 0px;
    background-color: #4294f8;
    background-position: 0px 0px;
    background-size: cover;
    background-attachment: scroll;
    opacity: 1;
    color: #fff;
  }
  
  .div-block-bottom {
    height: 900px;

    /* Background */
    /* Department of Foreign Affairs and Trade. (2013, November 6). Group of young people texting on mobile phones. Flickr. Retrieved June 3, 2022, from https://www.flickr.com/photos/106853342@N04/10699648676 */
    background-color: #fff;
    background-image: url('https://i.ibb.co/WHZ7ZdN/phone-people.png'), url('https://i.ibb.co/WHZ7ZdN/phone-people.png');
    background-position: 0px 0px, 0px 0px;
    background-size: cover, auto;
  }
  
  /* All-cap headers */
  .text-block {
    padding: 125px 200px 200px;
    font-family: 'NEXT ART', sans-serif;
    color: #025493;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0px;
  }
  
  /* Descriptions */
  .text-block-small {
    margin-bottom: 100px;
    font-family: 'Glacial Indifference', sans-serif;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }

  .text-block-caps {
    overflow: visible;
    padding: 100px 200px 200px;
    font-family: 'NEXT ART', sans-serif;
    color: #025493;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
  }
  
  .white_text {
    color: #fff;
  }
  
  /* Containers should be in the middle */
  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  /* Button has cool pixelated font and has centered text!! */
  .studbud_button {
    border: 2px solid #025493;
    background-color: #fff;
    font-family: 'Pixeboy', sans-serif;
    src: url('http://fonts.cdnfonts.com/css/pixeboy');
    color: #025493;
    font-size: 24px;
    text-align: center;
  }

  /* Padding of columns */
  .columns {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .column {
    top: -100px;
  }
  
  /* Pictures formatted with a slight margin on each side */
  .studbud_group_pic {
    display: block;
    padding-right: 100px;
    padding-left: 100px;
    text-align: center;
  }
  
  /* More small text */
  .studbud_text {
    font-family: 'Glacial Indifference', sans-serif;
    color: #025493;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
  
  /* Container to fit three columns inside should be centered */
  .tricolumn_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  /* Pictures in container have to be adjusted so they do not touch the top */
  .container-pic {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -100px;
    padding-top: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .container-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  /* Tablet and phone adjustments - mainly ensuring that everything fits in the page, and columns are now on top of each other */
  @media screen and (max-width: 991px) {
    .columns {
      margin-top: 0px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .text-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-top: 100px;
      padding-bottom: 0px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 36px;
      line-height: 36px;
      font-weight: 700;
      text-align: center;
      letter-spacing: 0px;
    }
  
    
  
    .text-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-top: 100px;
      padding-bottom: 0px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 36px;
      line-height: 36px;
      font-weight: 700;
      text-align: center;
      letter-spacing: 0px;
    }
  
  
    .text-block-3 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
  
    .container-4 {
      margin-top: 0px;
    }
  
    .studbud_group_pic {
      max-width: 50%;
      padding-right: 0px;
      padding-left: 0px;
    }
    
  }
  
  @media screen and (max-width: 479px) {
    
    .text-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 125px 200px 200px;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 36px;
      line-height: 36px;
    }
  
    .container {
      margin-top: 0px;
    }
  
    .studbud_button {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  
    .columns {
      margin-top: 50px;
    }
  
    .studbud_group_pic {
      max-width: 50%;
      padding-right: 0px;
      padding-left: 0px;
    }
  
  .tricolumn {
    float: left;
    width: 33.33%;
    padding: 0px;
    height: 200px; 
  }
  
  .tricolumn p {
    margin: 0 auto;
    font-size: 16px;
    color: #000000;
  
  }
  
  /* Clear floats after columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .tricolumn {
      width: 100%;
    }
  }
  
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px;
    }
  }
  
  .footer_logo {
    transform: scale(0.5); 
    margin-top: -50px;
  }
  
  
  @font-face {
    font-family: 'Pixeboy', sans-serif;
    src: url('http://fonts.cdnfonts.com/css/pixeboy');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'NEXT ART', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'NEXT ART', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Glacial Indifference', sans-serif;
    src: url('http://fonts.cdnfonts.com/css/glacial-indifference-2?styles=54222,54221');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
}